name: CI  LINT Pipeline Node

on:
    workflow_call:
        inputs:
            build_tool:
                description: "Escolha o build da sua aplicacao."
                type: string
            lint_pre_hook:
                description: "Script Pre Hook do linting"
                type: string
                default: 'echo "pre hook lint nao utilizado"'
            lint_post_hook:
                description: "Script Post Hook do linting"
                type: string
                default: 'echo "post hook lint nao utilizado"'
            lint_bypass:
                type: string
                description: "Toogle para forcar ou nao a quebra do lint"
                default: "false"
            cache_path:
                type: string
                description: "Path to cache"
                default: ''
            lint-node-command:
                description: ""
                type: string
                default: 'lint'
            working_directory:
                description: "Diretorio de trabalho padrao"
                type: string
                default: "."
            language_version:
                description: "Versao"
                type: string
                default: '21'
            node_token:
                description: "Versao"
                type: string
                default: ''
            caching:
                description: "Versao"
                type: string
                default: 'true'               

jobs:
    linting:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout Code
              uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3
            - name: Setup  Node
              id: action_setup_node
              uses: ./.github/actions/setup-node
              with:
                  node-version: ${{ inputs.language_version }}
                  package-manager: ${{ inputs.build_tool }}
                  caching: ${{ inputs.caching }}
                  cache_path: ${{ inputs.cache_path }}
                  node_token: ${{ secrets.READ_PRIVATE_PACKAGES_TOKEN  || ''}}
            - name: Lint ByPass
              id: lint-bypass-var
              run: |
                  TOGGLE_LINT_BYPASS="${{ vars.TOGGLE_LINT_BYPASS }}"
                  PARAM_VALUE="${{ inputs.lint_bypass }}"    

                  if [ "$TOGGLE_LINT_BYPASS" == "true" ] && [ "$PARAM_VALUE" == "true" ]; then
                      RESULTADO="true"
                  else
                      RESULTADO="false"
                  fi
                  echo "action_enabled=$RESULTADO" >> $GITHUB_OUTPUT

                  echo "Status da TOGGLE_LINT_BYPASS: $TOGGLE_LINT_BYPASS"
                  echo "Status da Variável Parametrizável: $PARAM_VALUE"
                  echo "Variável de Saída 'action_enabled': $RESULTADO"
            - name: Pre Hook Lint
              run: |
                  ${{ inputs.lint_pre_hook }}
            - name: Lint Node
              if: ${{ inputs.build_tool  == 'yarn'  || inputs.build_tool  == 'npm' || inputs.build_tool  == 'pnpm'}}
              id: lint-node
              shell: bash
              working-directory: ${{ inputs.working_directory }}
              run: |
                  case "${{ inputs.build_tool}}" in
                  npm)
                      npm run  ${{ inputs.lint-node-command}}
                      ;;
                  yarn)
                      yarn  ${{ inputs.lint-node-command }}
                      ;;
                  pnpm)
                      pnpm run ${{ inputs.lint-node-command }}
                      ;;
                  *)
                      echo "Package nao suportado: ${{ inputs.build_tool}}"
                      exit 1
                      ;;
                  esac

              continue-on-error: ${{ fromJson(steps.lint-bypass-var.outputs.action_enabled) }}
            - name: Post Hook Lint
              run: |
                  ${{ inputs.lint_post_hook }}
