name: CI  Pipeline

on:
  workflow_call:
    inputs:
      language:
        description: "Escolha entre kotlin, scala, node"
        type: string
      build_tool:
        description: "Escolha o build da sua aplicacao. gradle, sbt, yarn"
        type: string
      lint_pre_hook:
        description: "Script Pre Hook do linting"
        type: string
        default: 'echo "pre hook lint nao utilizado"'
      lint_post_hook:
        description: "Script Post Hook do linting"
        type: string
        default: 'echo "post hook lint nao utilizado"'
      toogle_lint_bypass:
        type: string
        description: "Toogle para forcar ou nao a quebra do lint"
        default: "false"

jobs:
  linting-kotlin:
    if: ${{ inputs.language  == 'kotlin' }}
    uses: LucasRius/lrios-ci-complete/.github/workflows/ci-lint-kotlin.yml@main
    with:
      build_tool: ${{ inputs.build_tool }}
      lint_pre_hook: ${{ inputs.lint_pre_hook }}
      lint_post_hook: ${{ inputs.lint_post_hook }}
      toogle_lint_bypass: ${{ inputs.toogle_lint_bypass }}
  linting-scala:
    if: ${{ inputs.language  == 'scala' }}
    uses: LucasRius/lrios-ci-complete/.github/workflows/ci-lint-scala.yml@main
    with:
      build_tool: ${{ inputs.build_tool }}
      lint_pre_hook: ${{ inputs.lint_pre_hook }}
      lint_post_hook: ${{ inputs.lint_post_hook }}
      toogle_lint_bypass: ${{ inputs.toogle_lint_bypass }}
