name: CI  Pipeline

on:
  workflow_call:
    inputs:
      working_directory:
        description: 'Diretorio de trabalho padrao'
        type: string
        default: '.'
      language:
        description: "Escolha entre kotlin, scala, node"
        type: string
      language_version:
        description: "Escolha entre kotlin, scala, node"
        type: string
        default: '21'
      build_tool:
        description: "Escolha o build da sua aplicacao. gradle, sbt, yarn"
        type: string
      lint_pre_hook:
        description: "Script Pre Hook do linting"
        type: string
        default: 'echo "pre hook lint nao utilizado"'
      lint_post_hook:
        description: "Script Post Hook do linting"
        type: string
        default: 'echo "post hook lint nao utilizado"'
      lint_bypass:
        type: string
        description: "Toogle para forcar ou nao a quebra do lint"
        default: "false"
      cache_path:
        type: string
        description: "Path to cache"
      always-auth:
        description: ''
        type: string
        default: 'false'
      lint-node-command:
        description: ''
        type: string
        default: 'lint'

jobs:
  linting-kotlin:
    if: ${{ inputs.language  == 'kotlin' }}
    uses: LucasRius/lrios-ci-complete/.github/workflows/ci-lint-kotlin.yml@main
    with:
      build_tool: ${{ inputs.build_tool }}
      lint_pre_hook: ${{ inputs.lint_pre_hook }}
      lint_post_hook: ${{ inputs.lint_post_hook }}
      lint_bypass: ${{ inputs.lint_bypass }}
      jdk_version: ${{ inputs.language_version }}
      cache_path: ${{ inputs.cache_path }}
  linting-scala:
    if: ${{ inputs.language  == 'scala' }}
    uses: LucasRius/lrios-ci-complete/.github/workflows/ci-lint-scala.yml@main
    with:
      build_tool: ${{ inputs.build_tool }}
      lint_pre_hook: ${{ inputs.lint_pre_hook }}
      lint_post_hook: ${{ inputs.lint_post_hook }}
      lint_bypass: ${{ inputs.lint_bypass }}
      jdk_version: ${{ inputs.language_version }}
      cache_path: ${{ inputs.cache_path }}
